/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* PRE-PROCESSING styling */
html, body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: Roboto, sans;
}

/* HEADER styling */
header {
    color: #F3C677;
    background-color: #0C0A3E;
    width: 100%;
    text-align: center;
    
    display: flex;
    justify-content: center;
}

header h1 {
    font-family: 'Roboto Slab', serif;
}

/* NAV BAR styling */
nav {
    background-color: #B33F62;
    width: 100%;

    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;
    list-style: none;

    text-align: center;
}

nav li {
    display: inline-block;
}

nav li:hover {
    background-color: coral;
}

nav li:not(:first-child) {
    margin-left: 17px;
}

nav a {
    color: #222;
    text-decoration: none;
    font-size: 18px;
}

/* SECTION styling */
section h2 {
    display: flex;
    justify-content: center;
}

/* ARTICLE styling */
article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

article ul {
    padding: 0;
    list-style: none;
}

/* FOOTER styling */

hr {
    width: 960px;
}

footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}