/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* PRE-PROCESSING styling */
html, body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: Roboto, sans;
}

/* HEADER styling */
header {
    color: #F3C677;
    background-color: #0C0A3E;
    width: 100%;
    text-align: center;
    
    display: flex;
    justify-content: center;
}

header h1 {
    font-family: 'Roboto Slab', serif;
}

/* NAV BAR styling */
nav {
    background-color: #AD2D1F;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADDING TRANSFORMATION FUNCTIONALITY  <--------------- Assignment 6 Point of Interest.
*/
nav li {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    
    position: relative;
}

nav li::before {
    content: "";
    display: block;
    height: 5px;
    background-color: coral;
    
    position: absolute;
    width: 0;
    top: 0;
    transition: all ease-in-out 200ms;
}

nav li:hover::before {
    width: 100%;
}
/* END OF TRANSFORMATION FUNCTIONALITY
*/

nav li:not(:first-child) {
    margin-left: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* MAIN styling*/
main {
    position: relative;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* SECTION styling */
section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

section h2 {
    display: flex;
    justify-content: center;
}

/* ARTICLE styling */

article {
    width: 960px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-list li {
    position: relative;

    display: flex;
    align-items: flex-start;
}

.project-list li:not(:last-of-type) {
    margin-bottom: 1em;
}

.project-list li:nth-child(odd) {   /*  <--------------- Assignment 6 Point of Interest.*/
    background-color: #B8B8B8;
}

.project-list a {
    margin-top: 1em;
    margin-left: 1em;
}

/* SELCTION-BAR styling   <--------------- Assignment 6 Point of Interest.
*/

.selection-bar {
    position: absolute;
    left: -1em;
    
    transition-property: all;
    transition-duration: 400ms;
}

.project-list li:hover > .selection-bar {
    background-color: #F75C03;
    border-radius: 15%;
    width: 1em;
    height: 100%;
    transform: translateX(-1em);
}

/* FOOTER styling */

hr {
    width: 960px;
}

footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}